body {
  margin: 0;
  padding: 0;
  background-color: #f3f7f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "SF Pro Text", sans-serif;
}

#root {
  height: 100vh;
}
